@charset "utf-8";

/*-------------------------
Overwrite
-------------------------*/
.grid-pad {
	/*padding: 0;*/
}

/*-------------------------
tag
-------------------------*/
body{
	background-color: #666;
	background-image: url(../img/bg_body.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}
a{
	color: #4DBCE9;
}
	a:hover{
		text-decoration: none;
	}
	a:hover img{ opacity: 0.8; }

/*-------------------------
枠
-------------------------*/
#WRAP{
	background-color: rgba(0,0,0,0.2);
}
#nosupport-message{ display: none; }
#HEAD{
	overflow: hidden;
	background-color: #000;
	border-bottom: 2px solid #26ADE4;
}
#MAIN{
	overflow: hidden;
}
#GOTOP{
	clear: both;
}
#FOOT{
	overflow: hidden;
	background-color: #000;
	border-top: 2px solid #26ADE4;
}

/*-------------------------
commmon
-------------------------*/
@font-face {
	font-family: 'pso2_fontregular';
	src: url('../font/pso2_font-webfont.eot');
	src: url('../font/pso2_font-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/pso2_font-webfont.woff2') format('woff2'),
		url('../font/pso2_font-webfont.woff') format('woff'),
		url('../font/pso2_font-webfont.ttf') format('truetype'),
		url('../font/pso2_font-webfont.svg#pso2_fontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.btn{
	display: inline-block;
	padding: 10px;
	color: #fff;
	border: 2px solid #fff;
	text-decoration: none;
}
	.btn:hover{
		background-color: #4DBCE9;
		border-color: #4DBCE9;
		text-decoration: none;
	}

.more-content {
}
	.more-content .more-content-btn{
		text-align: right;
	}
	.more-content .more-content-btn.active{ opacity: 0.5; }
	.more-content .more-content-container{
		display: none;
		overflow: hidden;
	}

/* flexslider Overwrite */
.flexslider {
	background-color: #fff;
	border: 2px solid #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
	.flexslider .slides {
	}
	.flexslider .slides li img{
		display: block;
	}

	.flex-control-paging li a {
		width: 15px;
		height: 15px;

		-webkit-box-shadow: inset 0 0 3px rgba(255,255,255,1);
		-moz-box-shadow: inset 0 0 3px rgba(255,255,255,1);
		-o-box-shadow: inset 0 0 3px rgba(255,255,255,1);
		box-shadow: inset 0 0 3px rgba(255,255,255,1);
	}
	.flex-control-paging li a:hover {
	}
	.flex-control-paging li a.flex-active {
	}

	.flexslider .flex-direction-nav a{
		color: rgba(255,255,255,0.8);
		text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
	}



/*-------------------------
parts
-------------------------*/
#HEAD .title{
	margin-bottom: 20px;
}
	#HEAD .title a{
		font-size: 2rem;
		line-height: 1em;
		color: #D1E751;
		text-decoration: none;
	}
	#HEAD .title a:after{
		content: "Halcyon∞Days";
		font-family: 'pso2_fontregular';
		margin-left: 0.5em;
		font-size: 0.8rem;
		line-height: 1rem;
		color: #fff;
	}
	#HEAD .title a:hover{
		opacity: 0.8;
	}

#MAIN .side-content{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 );

	min-height: 400px;
	margin: -20px 0 0 0;
	padding: 20px 0 0 0;
}
	#MAIN .side-content .g-navi{

	}
		#MAIN .side-content .g-navi ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}
			#MAIN .side-content .g-navi ul li{

			}
			#MAIN .side-content .g-navi ul li:hover,
			#MAIN .side-content .g-navi ul li.active{
				background-color: rgba(0,0,0,0.1);
			}
				#MAIN .side-content .g-navi ul li a,
				#MAIN .side-content .g-navi ul li span{
					display: block;
					padding: 10px 20px;
					color: #fff;
					text-decoration: none;
				}
				#MAIN .side-content .g-navi ul li.active span{
					color: #D1E751;
				}

#MAIN .main-visual{

}
/*	#MAIN .main-visual img{
		display: block;
		width: 98%;
		height: auto;
		margin: 0 auto;
		border: 2px solid #fff;
		box-shadow: 1px 1px 10px #666;
	}
*/
#MAIN .main-content{
	background-color: rgba(0,0,0,0.3);
	margin: 20px 0;
	padding: 0 0 20px 0;
	/*border:1px solid rgba(255,255,255,0.2);*/
	box-shadow: 0px 0px 5px rgba(155,255,255,0.2);
}
	#MAIN .main-content h2{
		margin: 0;
		padding: 10px 20px;
		font-size: 2rem;
		border-bottom: 1px solid #D1E751;
	}
	#MAIN .main-content p{
		margin: 20px;
	}
	#MAIN .main-content .twitter-timeline{
		width: 100% !important;
		max-width: none !important;
	}

#GOTOP .gotop-content{
	text-align: right;
}
	#GOTOP .gotop-content a{
		display: inline-block;
		background-color: #26ADE4;
		border-radius: 5px 5px 0 0;
		padding: 5px 10px 3px 10px;
		color: #fff;
		text-decoration: none;
	}


#FOOT .foot-content{
	padding-left: 20px;
	margin-bottom: 20px;
	min-height: 200px;
	color: #fff;
	font-size: 0.8rem;
	border-left: 1px solid #D1E751;
}
	#FOOT > div > div:first-child .foot-content{
		padding-left: 0;
		border-left: none;
	}



/*-------------------------
-------------------------*/


